<div class="container">
  <div class="mb-3">
    <a *ngIf="userRole === 'admin'" routerLink="/add-book-admin" class="btn btn-primary">Thêm</a>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Tên tài liệu</th>
        <th>Tác giả</th>
        <th>Nhà xuất bản</th>
        <th>Thể loại</th>
        <th *ngIf="userRole === 'admin'">Access Level</th> <!-- Hiển thị Access Level chỉ nếu người dùng là admin -->
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.title }}</td>
        <td>{{ book.AuthorName}}</td>
        <td>{{ book.PublisherName }}</td>
        <td>{{ book.genre }}</td>
        <td *ngIf="userRole === 'admin'">
          <select [ngModel]="book.accessLevel" (change)="updateAccessLevel(book.book_id, $event)">
            <option value="student">Student</option>
            <option value="lecturer">Lecturer</option>
            <option value="admin">Admin</option>
            <option value="public">Public</option>
          </select>
        </td>
        <td>
          <button class="btn btn-info" (click)="viewBook(book.book_id)">Xem</button>
          <button class="btn btn-danger" *ngIf="userRole === 'admin'" (click)="deleteBook(book.book_id)">Xóa </button>
          <button class="btn btn-warning" *ngIf="userRole === 'admin'" (click)="editBook(book.book_id)">Sửa</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>