<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Tên tài liệu</th>
        <th>Năm xuất bản</th>
        <th>Thể loại</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.title }}</td>
        <td>{{ book.publication_year }}</td>
        <td>{{ book.genre }}</td>
        <td>
          <button class="btn btn-info" (click)="viewBook(book.book_id)">Xem</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>