<!-- Display Lecturer Info -->
<div *ngIf="lecturer && !isEditing">
    <h2>Thông Tin Giảng Viên</h2>
    <table>
      <tr>
        <th>ID Giảng Viên</th>
        <td>{{ lecturer.lecturer_id }}</td>
      </tr>
      <tr>
        <th>ID Người Dùng</th>
        <td>{{ lecturer.user_id }}</td>
      </tr>
      <tr>
        <th>ID Chuyên Ngành</th>
        <td>{{ lecturer.major_id }}</td>
      </tr>
      <tr>
        <th>Chức Vụ</th>
        <td>{{ lecturer.position }}</td>
      </tr>
      <tr>
        <th>Năm Bắt Đầu</th>
        <td>{{ lecturer.start_year }}</td>
      </tr>
    </table>
    <button (click)="editLecturer()">Chỉnh Sửa Thông Tin</button>
  </div>
  
  <!-- Edit Lecturer Info Form -->
  <div *ngIf="isEditing">
    <h2>Chỉnh sửa Thông Tin Giảng Viên</h2>
    <form (ngSubmit)="saveLecturerInfo()">
      <label for="position">Chức Vụ</label>
      <input type="text" [(ngModel)]="lecturer.position" name="position" required />
  
      <label for="start_year">Năm Bắt Đầu</label>
      <input type="number" [(ngModel)]="lecturer.start_year" name="start_year" required />
  
      <button type="submit">Lưu</button>
      <button type="button" (click)="cancelEdit()">Hủy</button>
    </form>
  </div>
  