<div class="container">
  <!-- Form tìm kiếm -->
  <section class="search-form">
    <h2>Tìm Kiếm</h2>
    <form>
      <!-- Các trường tìm kiếm khác -->
      <label
        >Tên Tài Liệu:
        <input type="text"[(ngModel)]="searchCriteria.title" name="title"
      /></label>
      <label
        >Thể loại:
        <select [(ngModel)]="searchCriteria.genre" name="genre">
          <option value="">Tất cả</option>
          <option *ngFor="let genre of genres" [value]="genre">
            {{ genre }}
          </option>
        </select>
      </label>
      <label
        >Tác giả:
        <input
          type="text"
          [(ngModel)]="searchCriteria.AuthorName"
          name="AuthorName"
      /></label>
      <label
        >Ngôn ngữ:
        <input
          type="text"
          [(ngModel)]="searchCriteria.language"
          name="language"
      /></label>
      <label
        >Năm xuất bản:
        <input
          type="number"
          [(ngModel)]="searchCriteria.publication_year"
          name="publication_year"
      /></label>
      <label
        >Mã ISBN:
        <input type="text" [(ngModel)]="searchCriteria.isbn" name="isbn"
      /></label>
      <div class="button-group">
        <button type="button" (click)="searchBooks()">Tìm Kiếm</button>
        <button type="button" (click)="resetSearch()">Nhập Lại</button>
      </div>
    </form>
  </section>

  <!-- Danh sách sách -->
  <section class="book-list">
    <h2>Danh Sách Sách</h2>
    <!-- Thông báo nếu không tìm thấy sách -->
    <div *ngIf="noBooksFound" class="no-books-message">
      Không tìm thấy sách nào khớp với tiêu chí tìm kiếm.
    </div>

    <ul>
      <li *ngFor="let book of books" class="book-item">
        <strong>{{ book.title }}</strong> - {{ book.AuthorName }} ({{
          book.publication_year
        }})
        <button [routerLink]="['/book-detail', book.book_id]">
          Xem Chi Tiết
        </button>
      </li>
    </ul>
  </section>
</div>



