<div class="info-container" *ngIf="lecturer">
  <div class="left-section">
    <img src="https://th.bing.com/th/id/OIP.O9YF9qMWDsUuo7m60RqiqAHaFi?rs=1&pid=ImgDetMain" alt="Lecturer Profile Picture" class="profile-picture">
  </div>

  <div *ngIf="!isChangingPassword" class="right-section">
    <h2>Thông Tin Giảng Viên</h2>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div> <!-- Display error message -->
    <table>
      <tbody>
        <tr>
          <th>Họ tên</th>
          <td>{{ lecturer.FirstName }} {{ lecturer.LastName }}</td>
        </tr>
        <tr>
          <th>Mã giảng viên</th>
          <td>{{ lecturer.Username }}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>
            <span *ngIf="!isEditing">{{ lecturer.Email }}</span>
            <input *ngIf="isEditing" type="email" [(ngModel)]="lecturer.Email" />
          </td>
        </tr>
        <tr>
          <th>Số điện thoại</th>
          <td>
            <span *ngIf="!isEditing">{{ lecturer.PhoneNumber }}</span>
            <input *ngIf="isEditing" type="text" [(ngModel)]="lecturer.PhoneNumber" />
          </td>
        </tr>          
        <tr>
          <th>Ngành học</th>
          <td>{{ lecturer.MajorName }}</td>
        </tr>
        <tr>
          <th>Chức vụ</th>
          <td>{{ lecturer.Position }}</td>
        </tr>
        <tr>
          <th>Năm bắt đầu:</th>
          <td>{{ lecturer.StartYear }}</td>
        </tr>
      </tbody>
    </table>

    <div class="button-container">
      <button *ngIf="!isEditing" class="edit-info" (click)="enableEditing()">Thay đổi thông tin</button>
      <button *ngIf="isEditing" class="save-info" (click)="saveChanges()">Lưu thay đổi</button>
      <button *ngIf="isEditing" class="cancel-info" (click)="cancelEditing()">Hủy</button>
      <button *ngIf="!isEditing" class="edit-info" (click)="openChangePasswordForm()">Thay đổi mật khẩu</button>
    </div>
  </div>

  <!-- Form đổi mật khẩu -->
  <div *ngIf="isChangingPassword" class="change-password-form">
    <h2>Thông tin người dùng</h2>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <table>
      <tbody>
        <tr>
          <th>Mã</th>
          <td>{{ lecturer.Username }}</td>
        </tr>
        <tr>
          <th>Họ tên</th>
          <td>{{ lecturer.FirstName }} {{ lecturer.LastName }}</td>
        </tr>
        <tr>
          <th>Mật khẩu cũ</th>
          <td><input type="password" id="oldPassword" [(ngModel)]="oldPassword" /></td>
        </tr>
        <tr>
          <th>Mật khẩu mới</th>
          <td><input type="password" id="newPassword" [(ngModel)]="newPassword" /></td>
        </tr>
        <tr>
          <th>Nhập lại mật khẩu mới</th>
          <td><input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" /></td>
        </tr>
      </tbody>
    </table>

    <div class="button-container">
      <button class="save-info" (click)="changePassword()">Lưu thay đổi</button>
      <button class="cancel-info" (click)="cancelChangePassword()">Hủy</button>
    </div>
  </div>
</div>
