<div class="login-container">
    <div class="login-form">
      <h2>Đăng nhập</h2>
      <div class="login-logo">
        <img src="assets/logo/logo.png" alt="Logo">
      </div>
      <div class="divider">-------------**-------------</div>
  
      <form (ngSubmit)="onSubmit()">
        <input type="text" name="username" placeholder="Tên đăng nhập" [(ngModel)]="username" required>
        <input type="password" name="password" placeholder="Mật khẩu" [(ngModel)]="password" required>
        <button type="submit">Đăng nhập</button>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <br>
        <a href="/forgot-password">Quên mật khẩu?</a>  
      </form>
    </div>
</div>
  