<div class="info-container" *ngIf="student">
  <div *ngIf="!isChangingPassword" class="left-section">
    <img src="https://th.bing.com/th/id/OIP.O9YF9qMWDsUuo7m60RqiqAHaFi?rs=1&pid=ImgDetMain" alt="Student Profile Picture" class="profile-picture">
  </div>

  <div *ngIf="!isChangingPassword" class="right-section">
    <h2>Thông Tin Sinh Viên</h2>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

    <table>
      <tbody>
        <tr>
          <th>Họ tên</th>
          <td>{{ student.FirstName }} {{ student.LastName }}</td>
        </tr>
        <tr>
          <th>Mã sinh viên</th>
          <td>{{ student.Username }}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>
            <span *ngIf="!isEditing">{{ student.Email }}</span>
            <input *ngIf="isEditing" type="email" [(ngModel)]="student.Email" />
          </td>
        </tr>
        <tr>
          <th>Số điện thoại</th>
          <td>
            <span *ngIf="!isEditing">{{ student.PhoneNumber }}</span>
            <input *ngIf="isEditing" type="text" [(ngModel)]="student.PhoneNumber" />
          </td>
        </tr>
        <tr>
          <th>Ngành học</th>
          <td>{{ student.MajorName }}</td>
        </tr>
        <tr>
          <th>Khóa</th>
          <td>{{ student.Course }}</td>
        </tr>
        <tr>
          <th>Năm học</th>
          <td>{{ student.EnrollmentYear }}</td>
        </tr>
      </tbody>
    </table>

    <div class="button-container">
      <button *ngIf="!isEditing" class="edit-info" (click)="enableEditing()">Thay đổi thông tin</button>
      <button *ngIf="isEditing" class="save-info" (click)="saveChanges()">Lưu thay đổi</button>
      <button *ngIf="isEditing" class="cancel-info" (click)="cancelEditing()">Hủy</button>
      <button *ngIf="!isEditing" class="edit-info" (click)="openChangePasswordForm()">Thay đổi mật khẩu</button>
    </div>
  </div>

  <!-- Form thay đổi mật khẩu -->
  <div *ngIf="isChangingPassword" class="change-password-form">
    <h2>Đổi Mật Khẩu</h2>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <table>
      <tbody>
        <tr>
          <th>Mật khẩu cũ</th>
          <td><input type="password" id="oldPassword" [(ngModel)]="oldPassword" /></td>
        </tr>
        <tr>
          <th>Mật khẩu mới</th>
          <td><input type="password" id="newPassword" [(ngModel)]="newPassword" /></td>
        </tr>
        <tr>
          <th>Nhập lại mật khẩu mới</th>
          <td><input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" /></td>
        </tr>
      </tbody>
    </table>

    <div class="button-container">
      <button class="save-info" (click)="changePassword()">Lưu thay đổi</button>
      <button class="cancel-info" (click)="cancelChangePassword()">Hủy</button>
    </div>
  </div>
</div>
