form {
  max-width: 400px;
  margin: auto;
  padding: 1em;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  h2 {
    text-align: center;
  }
  input, button {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
  }
  button {
    background-color: #07773f;
    color: white;
    border: none;
    cursor: pointer;
  }
  .reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  a {
    display: block;
    text-align: center;
    margin-top: 10px;
  }