<div class="header">
  <header>
    <!-- Banner (Poster) -->
    <div class="banner">
      <img src="/assets/logo/banner.png" alt="Banner" />
    </div>

    <!-- Menu chính -->
    <nav class="menu">
      <ul>
        <!-- Các mục menu cho người dùng bình thường -->
        <li *ngIf="userRole != 'admin'"><a routerLink="/home">TRANG CHỦ</a></li>
        <li *ngIf="userRole != 'admin'"><a routerLink="/book-list">TÀI LIỆU SỐ</a></li>
        <li *ngIf="userRole != 'admin'"><a routerLink="/favorite-list">BỘ SƯU TẬP</a></li>
        <li *ngIf="userRole != 'admin'"><a routerLink="/search-documents">TRA CỨU</a></li>
        <li *ngIf="userRole != 'admin'"><a routerLink="/share-documents">CHIA SẺ TÀI LIỆU</a></li>

        <!-- Các mục menu cho admin -->
        <li *ngIf="userRole === 'admin'"><a routerLink="/home-admin">TRANG CHỦ ADMIN</a></li>
        <li *ngIf="userRole === 'admin'"><a routerLink="/book-list">QUẢN LÝ TÀI LIỆU</a></li>
        <li *ngIf="userRole === 'admin'"><a routerLink="/add-book-admin">THÊM TÀI LIỆU</a></li>
        <li *ngIf="userRole === 'admin'"><a routerLink="/browse-documents">PHÊ DUYỆT</a></li>
        <li *ngIf="userRole === 'admin'"><a routerLink="/statistics">THỐNG KÊ</a></li>

        <li class="user-menu">
          <!-- Hiển thị last_name của người dùng -->
          <a href="javascript:void(0);" (click)="$event.preventDefault()">{{ userLastName }}</a>
          <ul class="user-dropdown">
            <li *ngIf="userRole === 'student' || userRole === 'lecturer'">
              <a *ngIf="userRole === 'student'" routerLink="/student-info">Thông tin</a>
              <a *ngIf="userRole === 'lecturer'" routerLink="/lecturer-info">Thông tin</a>
            </li>
            <li><a (click)="onLogout()">Đăng xuất</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
</div>