<div class="favorite-list">
  <div *ngIf="favorites.length > 0">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Tên tài liệu</th>
          <th>Tác giả</th>
          <th>Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let favorite of favorites">
          <td><img src="https://th.bing.com/th/id/OIF.sWYGhvpKLQRpQA3j53zioA?w=176&h=180&c=7&r=0&o=5&pid=1.7" alt="Ảnh bìa" width="50"></td>
          <td>{{ favorite.title }}</td> 
          <td>{{ favorite.name }}</td>   
          <td>
            <a href="javascript:void(0);" class="btn-action delete" (click)="removeFavorite(favorite.favorite_id)">Bỏ yêu thích</a>
            <a href="" class="btn-action view">Xem</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    
    <div *ngIf="favorites.length === 0">
      <p>Bạn chưa có tài liệu yêu thích nào.</p>
    </div>

  </div>
  